
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
}
.container-fluid{
  background-color: rgb(226, 226, 226);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container{
  width: 100%;
  height: 60%;
  position: absolute;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}
.cardContainer{
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid rgb(109, 109, 109);
}
.imageContainer{
  width: 10rem;
  height: 10rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.5px solid rgb(63, 63, 63);
}
.imageContainer img{
  width: 5rem;
  height: 5rem;
}
h1{
  font-weight: bolder;
  
}
.search{
  height: 42px;
  
  border-bottom: 1px solid black;
}
#text{
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
}
.button-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  right: 0;
}